version: '3'
services:
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    environment: 
      - "REDIS_URL=redis://redis:6379"
    volumes:
      - .:/app_name
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    tty: true
  
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis/volumes:/var/lib/redis # データの永続化
    command: redis-server --appendonly yes
    
  db:
    image: mysql:5.7.27
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - ./docker/mysql/volumes:/var/lib/mysql
    ports:
      - "3306:3306"

  workder:
    build: .
    environment: 
      - "REDIS_URL=redis://redis:6379"
    volumes:
      - "./docker/worker/volumes:/var/lib/worker"
    depends_on: 
      - db
      - redis
    command: bundle exec sidekiq
