html,
body {
  height: 100%;
}

.back{
    position:absolute;
    top: 25.58%;
left: 4.758%;
width: 95.24%;
height: 100%;
background: #9DC3C9 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.23;
}

.box-newevent{
    position:absolute;
    top: 11.56%;
left: 6.515%;
width: 90.55%;
height: 84.29%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box-border{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 100%;
height: 0px;
border: 0.5px solid #8898AA;
opacity: 0.6;
}



@media(max-height: 770px){
    .back{
        position:absolute;
        top: 197px;
        left: 4.758%;
        width: 95.24%;
        height: 671px;
        background: #9DC3C9 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 0.23;
    }

    .box-newevent{
        position:absolute;
        top: 86px;
        left: 6.515%;
        width: 90.55%;
        height: 656px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 10px;
        opacity: 1;
    }
}

@media(max-width: 1024px){
    .back{
        position:absolute;
        top: 197px;
        left: 65px;
        width: 957px;
        height: 671px;
        background: #9DC3C9 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 0.23;
    }

    .box-newevent{
        position:absolute;
        top: 86px;
        left: 89px;
        width: 893px;
        height: 656px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 10px;
        opacity: 1;
    }
}

.box2{
    position:absolute;
    top: 20%;
left: 4%;
width: 44%;
height: 7.622%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 0.8;
}

.box2:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box3{
    position:absolute;
    top: 20%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box3:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box4{
    position:absolute;
    top: 33.62%;
left: 4%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box4:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box5{
    position:absolute;
    top: 33.62%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box5:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box6{
    position:absolute;
    top: 47.244%;
left: 4%;
width: 28%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box6:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box7{
    position:absolute;
    top: 47.244%;
    left: 36%;
    width: 28%;

height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;

}
.box7:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box8{
    position:absolute;
    top: 47.244%;
left: 68%;
width: 28%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box8:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box9{
    position:absolute;
    top: 60.87%;
left: 4%;
width: 92%;
height: 28.42%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box9:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box10{
    position: absolute;
    top: 14.55%;
left: 89.02%;
width: 5.857%;
height: 4.545%;
background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;
}
.box10:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.text1{
    position:absolute;
    top: 5%;
    left: 3%;
    width: 200px;
    height: 40px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 18px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text2{
    position:absolute;
    top: 21.64%;
left: 8.712%;
width: 7.392%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text3{
    position:absolute;
    top: 34.68%;
left: 8.712%;
width: 7.294%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text4{
    position:absolute;
    top: 21.64%;
left: 70.35%;
width: 8.712%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;


}

.text5{
    position:absolute;
    top: 32.68%;
left: 70.13%;
width: 7.076%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text6{
    position:absolute;
    top: 45.14%;
left: 8.712%;
width: 5.294%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}
.text7{
    position:absolute;
    top: 45.14%;
left: 39.09%;
width: 5.294%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}
.text8{
    position:absolute;
    top: 45.14%;
left: 70.35%;
width: 8.294%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text9{
    position:absolute;
    top: 59.17%;
left: 8.712%;
width: 7.49%;
height: 2.597%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}


.button1{
    position:absolute;
    top: 92%;
left: 47%;
width: 6%;
height: 6%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;
}
.button1:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}


