@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

button:focus {
    outline:0;
    display: inline-block;
}
select:focus {
	outline:0;
}

.back{
    position:absolute;
    top: 25.58%;
left: 4.758%;
width: 95.24%;
height: 530.1%;
min-height: 100%;
background: #9DC3C9 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.23;


}

.box-attend{
    position: absolute;
    top: 14.68%;
left: 6.515%;
width: 90.56%;
height: 66.49%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;

}
.attend-shadow{
    position: absolute;
    top: 14.68%;
left: 6.515%;
width: 90.56%;
height: 66.49%;
font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-absence{
    position: absolute;
    top: 88.57%;
left: 6.515%;
width: 90.56%;
height: 66.49%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;

}
.absence-shadow{
    position: absolute;
    top: 88.57%;
left: 6.515%;
width: 90.56%;
height: 66.49%;
font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-unanswered{
    position: absolute;
    top: 162.5%;
    left: 6.515%;
    width: 90.56%;
    height: 66.49%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
}
.unanswered-shadow{
    position: absolute;
    top: 162.5%;
    left: 6.515%;
    width: 90.56%;
    height: 66.49%;
    font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-unpaid{
    position: absolute;
    top: 236.4%;
    left: 6.515%;
    width: 90.56%;
    height: 66.49%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
}
.unpaid-shadow{
    position: absolute;
    top: 236.4%;
    left: 6.515%;
    width: 90.56%;
    height: 66.49%;
    font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}



.box5{
    position: absolute;
    top: 310.3%;
left: 7.76%;
width: 25.4%;
height: 48.05%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box6{
    position: absolute;
    top: 310.3%;
left: 39.9%;
width: 25.4%;
height: 48.05%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box7{
    position: absolute;
    top: 310.3%;
left: 72.04%;
width: 25.4%;
height: 48.05%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box8{
    position: absolute;
    top: 366.5%;
left: 9.956%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box9{
    position: absolute;
    top: 366.5%;
left: 31.77%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box10{
    position: absolute;
    top: 366.5%;
left: 53.59%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box11{
    position: absolute;
    top: 366.5%;
left: 75.4%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box12{
    position: absolute;
    top: 405.4%;
left: 9.956%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box13{
    position: absolute;
    top: 405.4%;
left: 31.77%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box14{
    position: absolute;
    top: 405.4%;
left: 53.59%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box15{
    position: absolute;
    top: 405.4%;
left: 75.4%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box16{
    position: absolute;
    top: 538.4%;
left: 7.174%;
width: 89.31%;
height: 11.3%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
font-family: 'Kosugi', sans-serif;
font-size: 30px;
opacity: 1;
}
.box16:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
.box17{
    position: absolute;
    top: 15.625%;
    left: 0%;
    width: 100%;
    height: 7.8125%;
background: #F1F3F9 0% 0% no-repeat padding-box;
opacity: 1;
overflow: hidden;
}
.box18{
    position: absolute;
    top: 15.625%;
    left: 0%;
    width: 100%;
    height: 7.8125%;
background: #F1F3F9 0% 0% no-repeat padding-box;
opacity: 1;
overflow: hidden;

}
.box19{
    position: absolute;
    top: 15.625%;
    left: 0%;
    width: 100%;
    height: 7.8125%;
background: #F1F3F9 0% 0% no-repeat padding-box;
opacity: 1;
overflow: hidden;
}
.box20{
    position: absolute;
    top: 15.625%;
    left: 0%;
    width: 100%;
    height: 7.8125%;
background: #F1F3F9 0% 0% no-repeat padding-box;
opacity: 1;
overflow: hidden;
}



.box1-b{
    position:absolute;
    top: 445.56%;
left: 6.515%;
width: 90.55%;
height: 84.29%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}

.boader1-b{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 100%;
height: 0px;
border: 0.5px solid #8898AA;
opacity: 0.6;
}

.box2-b{
    position:absolute;
    top: 20%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 0.8;
}

.box2-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box3-b{
    position:absolute;
    top: 20%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box3-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box4-b{
    position:absolute;
    top: 33.62%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box4-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box5-b{
    position:absolute;
    top: 33.62%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box5-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box6-b{
    position:absolute;
    top: 47.244%;
    left: 4%;
    width: 28%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box6-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box7-b{
    position:absolute;
    top: 47.244%;
    left: 36%;
    width: 28%;

height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;

}
.box7-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box8-b{
    position:absolute;
    top: 47.244%;
left: 68%;
width: 28%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box8-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box9-b{
    position:absolute;
    top: 60.87%;
left: 4%;
width: 92%;
height: 28.42%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box9-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box10-b{
    position: absolute;
    top: 5%;
left: 89.02%;
width: 80px;
    height: 40px;;
background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;
}
.box10-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}


@media(max-height: 770px){

.back{
    position:absolute;
    top: 197px;
left: 4.758%;
width: 95.24%;
height: 3705px;
min-height: 100%;
background: #9DC3C9 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.23;


}

.box-attend{
    position: absolute;
    top: 113px;
left: 6.515%;
width: 90.56%;
height: 512px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
}
.attend-shadow{
    position: absolute;
    top: 113px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-absence{
    position: absolute;
    top: 682px;
left: 6.515%;
width: 90.56%;
height: 512px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
}
.absence-shadow{
    position: absolute;
    top: 682px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-unanswered{
    position: absolute;
    top: 1251px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;

}
.unanswered-shadow{
    position: absolute;
    top: 1251px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
    font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}

.box-unpaid{
    position: absolute;
    top: 1820px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 80px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
}
.unpaid-shadow{
    position: absolute;
    top: 1820px;
    left: 6.515%;
    width: 90.56%;
    height: 512px;
    font-size: 0px;
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 121px 0px;
margin: 0px;
box-sizing: border-box;
overflow: hidden;
pointer-events: none;
}


.box5{
    position: absolute;
    top: 2368px;
    left: 7.76%;
    width: 25.4%;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;

}
.box6{
    position: absolute;
    top: 2368px;
    left: 39.9%;
    width: 25.4%;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box7{
    position: absolute;
    top: 2368px;
    left: 72.04%;
    width: 25.4%;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box8{
    position: absolute;
    top: 2653px;
    left: 9.956%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box9{
    position: absolute;
    top: 2653px;
    left: 31.77%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box10{
    position: absolute;
    top: 2653px;
    left: 53.59%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box11{
    position: absolute;
    top: 2653px;
    left: 75.4%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box12{
    position: absolute;
    top: 2857px;
    left: 9.956%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box13{
    position: absolute;
    top: 2857px;
    left: 31.77%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box14{
    position: absolute;
    top: 2857px;
    left: 53.59%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box15{
    position: absolute;
    top: 2857px;
    left: 75.4%;
    width: 19.03%;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}


.box1-b{
    position:absolute;
    top: 3060px;
    left: 6.515%;
    width: 90.55%;
height: 656px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}

.boader1-b{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 100%;
height: 0px;
border: 0.5px solid #8898AA;
opacity: 0.6;
}

.box2-b{
    position:absolute;
    top: 20%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 0.8;
}

.box2-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box3-b{
    position:absolute;
    top: 20%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box3-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box4-b{
    position:absolute;
    top: 33.62%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box4-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box5-b{
    position:absolute;
    top: 33.62%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box5-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box6-b{
    position:absolute;
    top: 47.244%;
    left: 4%;
    width: 28%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box6-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box7-b{
    position:absolute;
    top: 47.244%;
    left: 36%;
    width: 28%;

height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;

}
.box7-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box8-b{
    position:absolute;
    top: 47.244%;
left: 68%;
width: 28%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box8-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box9-b{
    position:absolute;
    top: 60.87%;
left: 4%;
width: 92%;
height: 28.42%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box9-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box10-b{
    position:absolute;
    top: 5%;
    left: 90%;
    width: 80px;
    height: 40px;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box10-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}


}

@media(max-width: 1024px){
    .back{
        position:absolute;
        top: 197px;
        left: 65px;
        width: 957px;
        height: 3705px;
    min-height: 100%;
    background: #9DC3C9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.23;


    }

    .box-attend{
        position: absolute;
        top: 113px;
        left: 89px;
        width: 893px;
        height: 512px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 80px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    }
    .attend-shadow{
        position: absolute;
        top: 113px;
        left: 89px;
        width: 893px;
        height: 512px;
    font-size: 0px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 121px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    }

    .box-absence{
        position: absolute;
        top: 682px;
    left: 89px;
    width: 893px;
    height: 512px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 80px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    }
    .absence-shadow{
        position: absolute;
        top: 682px;
    left: 89px;
    width: 893px;
    height: 512px;
    font-size: 0px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 121px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    }

    .box-unanswered{
        position: absolute;
        top: 1251px;
left: 89px;
width: 893px;
height: 512px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 80px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    }
    .unanswered-shadow{
        position: absolute;
        top: 1251px;
        left: 89px;
        width: 893px;
        height: 512px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 121px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    }

    .box-unpaid{
        position: absolute;
        top: 1820px;
    left: 89px;
    width: 893px;
    height: 512px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 80px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    }
    .unpaid-shadow{
        position: absolute;
        top: 1820px;
        left: 89px;
        width: 893px;
        height: 512px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    padding: 121px 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    }




.box5{
    position: absolute;
    top: 2368px;
left: 98px;
width: 254px;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;

}
.box6{
    position: absolute;
    top: 2368px;
left: 411px;
width: 254px;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box7{
    position: absolute;
    top: 2368px;
left: 724px;
width: 254px;
height: 254px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box8{
    position: absolute;
    top: 2653px;
left: 98px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box9{
    position: absolute;
    top: 2653px;
left: 335px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box10{
    position: absolute;
    top: 2653px;
left: 572px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box11{
    position: absolute;
    top: 2653px;
left: 809px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box12{
    position: absolute;
    top: 2857px;
left: 98px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box13{
    position: absolute;
    top: 2857px;
left: 335px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box14{
    position: absolute;
    top: 2857px;
left: 572px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}
.box15{
    position: absolute;
    top: 2857px;
left: 809px;
width: 159px;
height: 157px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
overflow: hidden;
}


.box1-b{
    position:absolute;
    top: 3060px;
left: 89px;
width: 893px;
height: 656px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}

.boader1-b{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 100%;
height: 0px;
border: 0.5px solid #8898AA;
opacity: 0.6;
}

.box2-b{
    position:absolute;
    top: 20%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 0.8;
}

.box2-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box3-b{
    position:absolute;
    top: 20%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box3-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box4-b{
    position:absolute;
    top: 33.62%;
    left: 4%;
    width: 44%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box4-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.box5-b{
    position:absolute;
    top: 33.62%;
left: 52%;
width: 44%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box5-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}

.box6-b{
    position:absolute;
    top: 47.244%;
    left: 4%;
    width: 28%;
    height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box6-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box7-b{
    position:absolute;
    top: 47.244%;
    left: 36%;
    width: 28%;

height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;

}
.box7-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box8-b{
    position:absolute;
    top: 47.244%;
left: 68%;
width: 28%;
height: 7.622%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box8-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box9-b{
    position:absolute;
    top: 60.87%;
left: 4%;
width: 92%;
height: 28.42%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box9-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
.box10-b{
    position:absolute;
    top: 5%;
    left: 90%;
    width: 80px;
    height: 40px;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}
.box10-b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
}

.box-border{
    top: 80px;
width: 100%;
height: 40px;
background: #F1F3F9 0% 0% no-repeat padding-box;
opacity: 1;
}


.namebox{
    display: inline-block;
    width: 20%;
    height: 75px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 26px;
    margin: 0px 2.5%;
    box-sizing: border-box;
    font-size: 16px;
  vertical-align: bottom;
}

.datebox{
    display: inline-block;
    width: 12.70%;
    height: 75px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 26px;
    margin: 0px 2.5%;
    box-sizing: border-box;
    font-size: 16px;
  vertical-align: bottom;
}

.balancebox{
    display: inline-block;
    width: 12.75%;
    height: 75px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 26px;
    margin: 0px 2.5%;
    box-sizing: border-box;
    font-size: 16px;
  vertical-align: bottom;
}

.collectedbox{
    display: inline-block;
    width: 12.75%;
    height: 75px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 26px;
    margin: 0px 2.5%;
    box-sizing: border-box;
    font-size: 16px;
  vertical-align: bottom;
}

.change{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
vertical-align: top;
line-height: 120px;
  border-radius: 50%;
  margin: 20px 2.5%;
    box-sizing: border-box;
    pointer-events: auto;
}
.change:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
.checkbox{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
vertical-align: top;
line-height: 120px;
  border-radius: 50%;
  margin: 20px 0px 20px 7%;
    box-sizing: border-box;
    pointer-events: auto;
}
.checkbox:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.total-number{
    position: absolute;
    top: 5%;

    width: 200px;
    height: 30px;
    text-align: left;

    float: left;
    margin: 0px 30px 0px 150px;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.amount-total{
    position: absolute;
    top: 5%;

    width: 200px;
    height: 30px;
    text-align: left;
  float: left;
    margin: 0px 20px 0px 250px;

    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.amount-all{
    position: absolute;
    top: 5%;

    width: 200px;
    height: 30px;

    text-align: left;
    float: left;
    margin: 0px 20px 0px 310px;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
    letter-spacing: 0;
    color: #172B4D;
    opacity: 1;
}


.name1-1{
    position: absolute;
    top: 23.4375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name1-1-name{
    position: absolute;
    top: 0%;
    left: 3.2%;
    width: 22.46%;
    height: 100%;
background: rgb(252, 251, 255) 0% 0% no-repeat padding-box;
opacity: 0.15;
}
.name1-1-date{
    position: absolute;
    top: 0%;
    left: 28%;
    width: 12.70%;
    height: 100%;
background: rgb(248, 248, 248) 0% 0% no-repeat padding-box;
opacity: 0.15;
}
.name1-1-balance{
    position: absolute;
    top: 0%;
    left: 45%;
    width: 22.46%;
    height: 100%;
background: rgb(248, 248, 248) 0% 0% no-repeat padding-box;
opacity: 0.15;
}





.name1-2{
    position: absolute;
    top: 38.0875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}


.name1-3{
    position: absolute;
    top: 52.7375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}

.name1-4{
    position: absolute;
    top: 67.3875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name2-1{
    position: absolute;
    top: 23.4375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name2-2{
    position: absolute;
    top: 38.0875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name2-3{
    position: absolute;
    top: 52.7375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name2-4{
    position: absolute;
    top: 67.3875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name3-1{
    position: absolute;
    top: 23.4375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name3-2{
    position: absolute;
    top: 38.0875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name3-3{
    position: absolute;
    top: 52.7375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name3-4{
    position: absolute;
    top: 67.3875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name4-1{
    position: absolute;
    top: 23.4375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name4-2{
    position: absolute;
    top: 38.0875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.name4-3{
    position: absolute;
    top: 52.7375%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #7764E4 0% 0% no-repeat padding-box;
opacity: 0.15;

}
.name4-4{
    position: absolute;
    top: 67.3875%;
    left: 0%;
    width: 100%;
    height: 14.65%;
background: #F7FAFC 0% 0% no-repeat padding-box;
opacity: 1;

}
.text1{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 200px;
    height: 30px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.text2{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 200px;
    height: 30px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.text3{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 200px;
    height: 30px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.text4{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 200px;
    height: 30px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 30px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.text5{
    position: absolute;
    top: 439.7%;
left: 43.63%;
width: 20.662%;
height:1.556% ;
text-align: left;
font: Medium;
font-size:  4.0098vmax;
letter-spacing: 0;
color: #7764E4;
opacity: 1;

}

.text6{
    position: absolute;
    top: 14%;
left: 3.2%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}

.text7{
    position: absolute;
    top: 14%;
    left: 28%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
letter-spacing: 0;
color: #8898AA;
opacity: 1;

}
.text8{
    position: absolute;
    top: 14%;
left: 45%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
letter-spacing: 0;
color: #8898AA;
opacity: 1;

}

.text9{
    position: absolute;
    top: 14%;
    left: 94.5%;
    width: 200px;
    height: 15px;
    text-align: left;
    font-family: 'Sawarabi Gothic', sans-serif;
    letter-spacing: 0;
    color: #8898AA;
    opacity: 1;
}
.text10{
    position: absolute;
    top: 14%;
    left: 65%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text11{
    position: absolute;
    top: 14%;
    left: 80%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text12{
    position: absolute;
    position: absolute;
    top: 172.5%;
left: 31.77%;
width: 4.416%;
height: 1.948%;
text-align: left;
font: Medium;
font-size:  1.0098vmax;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text13{
    position: absolute;
    position: absolute;
    top: 246.5%;
left: 31.77%;
width: 4.416%;
height: 1.948%;
text-align: left;
font: Medium;
font-size:  1.0098vmax;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text14{
    position: absolute;
    top: 24.5%;
left: 47.7%;
width: 4.416%;
height: 1.948%;
text-align: left;
font: Medium;
font-size:  1.0098vmax;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text15{
    position: absolute;
    top: 246.5%;
left: 47.7%;
width: 4.416%;
height: 1.948%;
text-align: left;
font: Medium;
font-size:  1.0098vmax;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}

.text16{
    position: absolute;
    top: 24.5%;
left: 92.5%;
width: 9.635%;
height: 3.117%;
font: Medium;
font-size:  1.0098vmax;
letter-spacing: 0;
color: #8898AA;
opacity: 1;
}
.text17{
    position: absolute;

}
.text5{
    position: absolute;
}

.box21{
    position: absolute;
    top: 17.27%;
left: 86.24%;
width: 8.785%;
height: 5.195%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;

}
.box22{
    position: absolute;
    position: absolute;
    top: 91.17%;
left: 86.24%;
width: 8.785%;
height: 5.195%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;

}
.box23{
    position: absolute;
    position: absolute;
    top: 165.1%;
left: 86.24%;
width: 8.785%;
height: 5.195%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;

}
.box24{
    position: absolute;
    position: absolute;
    top: 239.0%;
left: 86.24%;
width: 8.785%;
height: 5.195%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;

}

.check1-1{
    position: absolute;

    top: 32%;
    left: 94.56%;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check1-1:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
.check1-2{
    position: absolute;

    top: 43%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check1-2:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.check1-3{
    position: absolute;

    top: 52%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check1-3:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.check1-4{
    position: absolute;

    top: 62%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check1-4:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
.check4-1{
    position: absolute;

    top: 255%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check4-1:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}
.check4-2{
    position: absolute;

    top: 264%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check4-2:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.check4-3{
    position: absolute;

    top: 274%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check4-3:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}

.check4-4{
    position: absolute;

    top: 284%;
    left: 92.37%;
    width: 2.562%;
    height: 4.545%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.check4-4:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}




.button1-1{
    position: absolute;

    top: 90%;
    left: 75%;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.button1-1:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}



.button1-2{
    position: absolute;
    top: 90%;
    left: 95%;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 1;
line-height: 120px;
  border-radius: 50%;
}
.button1-2:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}







.text1b{
    position:absolute;
    top: 4%;
    left: 3%;
    width: 200px;
    height: 30px;
    text-align: left;
    font-family:'Kosugi', sans-serif;
    font-size: 25px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text2b{
    position:absolute;
    top: -80%;
left: 0%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 16px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text3b{
    position:absolute;
    top: 468.68%;
left: 8.712%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text4b{
    position:absolute;
    top: 455.64%;
left: 70.35%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;


}

.text5b{
    position:absolute;
    top: 466.68%;
left: 70.13%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text6b{
    position:absolute;
    top: 479.14%;
left: 8.712%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}
.text7b{
    position:absolute;
    top: 479.14%;
left: 39.09%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}
.text8b{
    position:absolute;
    top: 479.14%;
left: 70.35%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}

.text9b{
    position:absolute;
    top: -25%;
left: 0%;
width: 200px;
height: 15px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 16px;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}


.button1b{
    position:absolute;
    top: 92%;
left: 47%;
width: 6%;
height: 6%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border: 1px solid #7764E4;
border-radius: 5px;
opacity: 1;
}
.button1b:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);



}
