@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
html,
body {
  height: 100%;
}
.back1{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(80deg, #12ABC7 0%, #ABE1EB 100%) 0% 0% no-repeat padding-box;
    opacity: 1;


}

.back2{
    position:absolute;
    top: 28%;
left: 0px;
width: 100%;
height: 74.56%;
transform: matrix(-1, 0, 0, -1, 0, 0);
background: transparent linear-gradient(180deg, #0B3273 0%, #094CB0 100%) 0% 0% no-repeat padding-box;
opacity: 1;
}

.box-newaccount{
    position:absolute;
    display: block;
    top: 6.581%;
left: 32.58%;
width: 34.85%;
height: 80%;
text-align: center;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 17px #2C28281C;
border-radius: 10px;
opacity: 1;
padding: 30px 40px;
margin: 0px;
box-sizing: border-box;
}

@media(max-height: 770px){
    .back1{
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    height: 384px;
        background: transparent linear-gradient(80deg, #12ABC7 0%, #ABE1EB 100%) 0% 0% no-repeat padding-box;
        opacity: 1;


    }

    .back2{
        position:absolute;
        top: 217px;
        left: 0px;
        width: 100%;
    height: 551px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(180deg, #0B3273 0%, #094CB0 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    }

    .box-newaccount{
        position:absolute;
        display: block;
        top: 51px;
        left: 32.58%;
        width: 34.85%;
    height: 600px;
    text-align: center;
    background: #F7FAFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 17px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    }
}

@media(max-width: 1024px){
    .back1{
        position:absolute;
        top: 0px;
    left: 0px;
    width: 1024px;
    height: 384px;
        background: transparent linear-gradient(80deg, #12ABC7 0%, #ABE1EB 100%) 0% 0% no-repeat padding-box;
        opacity: 1;


    }

    .back2{
        position:absolute;
        top: 217px;
    left: 0px;
    width: 1024px;
    height: 551px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(180deg, #0B3273 0%, #094CB0 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    }

    .box-newaccount{
        position:absolute;
        display: block;
        top: 51px;
    left: 274px;
    width: 476px;
    height: 600px;
    text-align: center;
    background: #F7FAFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 17px #2C28281C;
    border-radius: 10px;
    opacity: 1;
    }

}


.text1{
    width: 200px;
    height: 50px;
    display: inline-block;
    font-family: 'Kosugi', sans-serif;
    font-size: 30px;
}

.text2{
    width: 300px;
    height: 40px;
    display: inline-block;

font-family: 'Sawarabi Gothic', sans-serif;
font-size: 15px;
letter-spacing: 0;
color: #172B4D;
opacity: 1
}

.text3{
    position:absolute;
    top: 22.19%;
left: 39.53%;
width: 12.74%;
height: 2.581%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 0.8;
}

.text4{
    position:absolute;
    top: 32.04%;
left: 39.53%;
width: 12.74%;
height: 2.581%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 0.8;

}

.text5{
    position:absolute;
    top: 41.89%;
left: 39.53%;
width:  12.74%;
height: 2.581%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 0.8;

}

.text6{
    position:absolute;
    top: 52%;
left: 39.53%;
width: 12.74%;
height: 2.581%;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;

}
.text7{
    position:absolute;
    top: 63.6%;
left: 42.31%;
width: 7.321%;
height: 2.914%;
text-align: left;
font: Book;
font-size: 0.8098vmax;
letter-spacing: 0;
letter-spacing: 0;
color: #172B4D;

}

.text8{
    position:absolute;
    top: 83%;
left: 25%;
widows: 200px;;
height: 30px;
text-align: left;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 15px;
letter-spacing: 0;
color: #11CDEF;

}

.text9{
    position:absolute;
    top: 108.52%;
    left: 28%;
    width: 200px;
    height: 50px;

display: inline-block;
font-family: 'Kosugi', sans-serif;
font-size: 14px;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}


.textbox1{

width: 100%;
height: 6.5%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.7;
padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
background-position: 4% center;
}

.textbox2{

    width: 80%;
    height: 6.5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #1717172E;
    border-radius: 5px;
    opacity: 0.7;
    padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
    background-image: url("../../../images/person.png");
background-position: 4% center;
}

.textbox3{

    width: 80%;
    height: 6.5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #1717172E;
    border-radius: 5px;
    opacity: 0.7;
    padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
background-image: url("../../../images/person.png");
    background-position: 4% center;
}

.textbox4{

    width: 80%;
    height: 6.5%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.7;
padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
background-image: url("../../../images/mail.png");
background-position: 4% center;
}

.textbox5{

    width: 80%;
    height: 6.5%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.7;
padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
background-image: url("../../../images/pass.png");
background-position: 4% center;
}

.textbox6{

    width: 80%;
    height: 6.5%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.7;
padding: 0px 0px 0px  70px;
margin: 0px 0px 20px 0px;
background-image: url("../../../images/pass.png");
background-position: 4% center;
}



.checkbox{
    position:absolute;
    top: 82%;
left: 15%;
width: 30px;
height: 30px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 8px #00000021;
border-radius: 6px;
opacity: 1;
}

.button1{
    position:absolute;
    top: 90%;
left: 37.5%;
width: 25%;
height: 7%;
background: #11CDEF 0% 0% no-repeat padding-box;
font-family: 'Sawarabi Gothic', sans-serif;
border-radius: 4px;
opacity: 1;
cursor: pointer; /* マウスカーソルを「ポインター」にする */
}
.button1:hover{
    background: #11CDEF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.6;
}

.img1{
    position:absolute;
    top: 23.69%;
left: 37.53%;
width: 1.74%;

opacity: 0.6;
}
.img2{
    position:absolute;
    top: 33.64%;
left: 37.53%;
width: 1.74%;

opacity: 0.6;
}
.img3{
    position:absolute;
    top: 43.3%;
left: 37.53%;
width:  1.74%;

opacity: 0.6;
}
.img4{
    position:absolute;
    top: 53.6%;
left: 37.53%;
width: 1.74%;

opacity: 0.6;
}

