<li class="nav-item menu-items">
  <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
    <span class="menu-icon">
      <i class="mdi mdi-settings" style="color: blueviolet;"></i>
    </span>
    <span class="menu-title">サークル設定</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-advanced">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <%= link_to 'メンバー情報', group_users_path(group_id: current_user_group.id), class: "nav-link" %></li>
      <li class="nav-item"> <%= link_to 'メンバー設定', change_group_path(id: current_user_group.id), class: "nav-link" %></li>
      <li class="nav-item"> <%= link_to 'サークル情報', edit_group_path(id: current_user_group.id), class: "nav-link" %></li>
      <li class="nav-item"> <a class="nav-link" href="#">支払い情報</a></li>
    </ul>
  </div>
</li>
