<li class="nav-item menu-items">
  <a class="nav-link" href="#">
    <span class="menu-icon">
      <i class="mdi mdi-apps" style="color:yellow;"></i>
    </span>
    <span class="menu-title">カスタム</span>
  </a>
</li>
