<li class="nav-item menu-items">
  <a class="nav-link" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
    <span class="menu-icon">
      <i class="mdi mdi-message-text-outline"></i>
    </span>
    <span class="menu-title">イベント</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="sidebar-layouts">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <%= link_to 'イベント作成', new_group_event_path(group_id: current_user_group.id), class: "nav-link" %></li>
      <li class="nav-item"> <%= link_to 'イベント一覧', group_events_path(group_id: current_user_group.id), class: "nav-link" %></li>
    </ul>
  </div>
</li>
