<li class="nav-item menu-items">
  <%= link_to root_path, class: "nav-link" do %>
    <span class="menu-icon">
      <i class="mdi mdi-home" style="color: blue;"></i>
    </span>
    <span class="menu-title">ホーム</span>
  <% end %>
</li>
