.parent {
    position:relative;
    height: 100%;
}
.img{
    width: 100%;
}

html,
body {
  height: 100%;
}

.topbar1{
    position:absolute;
    top: 0px;
    left: 65px;
    width: 1303px;
    height: 197px;
    background: transparent linear-gradient(180deg, #83B4CE 0%, #53EEEE 100%) 0% 0% no-repeat padding-box;
}

.test{
    top: 80px;
left: 89px;
width: 247px;
height: 50px;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #1717172D;
border-radius: 25px;
opacity: 1;
}

.test2{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 384px;
    background: transparent linear-gradient(180deg, #12ABC7 0%, #ABE1EB 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.test3{
    position:absolute;
    top: 300px;
left: 0px;
width: 100%;
height: 100%;
transform: matrix(-1, 0, 0, -1, 0, 0);
background: transparent linear-gradient(80deg, #0B3273 0%, #094CB0 100%) 0% 0% no-repeat padding-box;
opacity: 1;
}

.test4{
    position:absolute;
    top: 152px;
left: 32.57%;
width: 34.84%;
height: 465px;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 17px #2C28281C;
border-radius: 10px;
opacity: 1;
}

.test5{
    position:absolute;
    top: 193px;
left: 46.33%;
width: 16.46%;
height: 33px;
text-align: left;
font: Bold ;
font-size: 2.05vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.test6{
    position:absolute;
    top: 232px;
left: 36.6%;
width: 29.28%;
height: 20px;
text-align: center;
font: Book;
font-size: 1.464vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.test7{
    position:absolute;
    top: 290px;
left: 35.35%;
width: 29.28%;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
border-radius: 5px;
opacity: 0.8;
}

.test8{
    position:absolute;
    top: 500px;
    top: 305px;
left: 39.53%;
width: 36.6%;
height: 20px;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 0.8;
}

.test9{
    position:absolute;
    top: 375px;
left: 35.39%;
width: 29.28%;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #1717172E;
opacity: 0.8;
}

.test10{
    position:absolute;
    top: 390px;
left: 39.53%;
width: 21.96%;
height: 20px;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 0.8;
}

.test11{
    position:absolute;
    top: 522px;
left: 46.05%;
width: 8.053%;
height: 50px;
background: #11CDEF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}

.test12{
    position:absolute;
    top: 535px;
left: 47.36%;
width: 5.857%;
height: 24px;
text-align: center;
font: Medium ;
font-size: 1.3vmax;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.test13{
    position:absolute;
    top: 466px;
    left: 51.24%;
    width: 17.57%;
    height: 17px;
    text-align: left;
    font: Book;
    font-size: 1.098vmax;
    letter-spacing: 0;
    color: #172B4D;
    opacity: 1;

}

.test14{
    position:absolute;
    top: 460px;
left: 35.36%;
width: 2.196%;
height: 30px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 8px #00000021;
border-radius: 6px;
opacity: 1;
}

.test15{
    position:absolute;
    top: 466px;
left: 38.65%;
width: 5.875%;
height: 17px;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #172B4D;
opacity: 1;
}

.test16{
    position:absolute;
    top: 635px;
left: 47.58%;
width: 12.66%;
height: 17px;
text-align: left;
font: Book;
font-size: 1.098vmax;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}
