<div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
  <h3>任命</h3>
  <% if executives.count <= 7 %>
    <section>
      <%= form_with url: assign_group_path(id: group.id), local: true do |f| %>
        <div class="form-group">
          <label style="display: block;">任命先選択</label>
          <input type="form" id="assignable-search" class="form-control col-md-8" aria-describedby="emailHelp" placeholder="任命したい人の名前を入力してください" style="display: inline-block; color: white;">
          <%= button_tag type: 'submit', class: "btn btn-danger btn-icon-text", style: "display: inline-block;" do %>
            <i class="mdi mdi-email"></i> 任命する
          <% end %>
          <small id="emailHelp" class="form-text text-muted">引き継ぎたいメンバーを選択します。</small>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <form action="#">
                  <div class="form-group d-flex">
                    <%= render 'groups/assignable_members', f: f %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% else %>
    <p class='box10'>現在幹事が８名いるため任命できません</p>
  <% end %>
</div>
