<h2><%= @current_executive_group.name %>のダッシュボード</h2>
<p><%= link_to "統計", statistics_group_path(@current_executive_group.id) %><p>
<p><%= link_to "デポジット", deposit_group_path(@current_executive_group.id) %><p>