<% @groups.each do |group| %>
  <p><%= link_to group.name, group_path(group) %></p>
  <% GroupUser.where(group_id: group.id, role: 0).each do |relationship| %>
    <% executive = User.find(relationship.user_id) %>
    <p>幹事名： <%= executive.name %></p>
  <% end %>
  <p>email： <%= group.email %></p>
  <p>group_id： <%= group.id %></p>
<% end %>