<% @groups.each do |group| %>
  <p><%= group.name %></p>
  <% leader = User.find(group.leader_id) %>
  <p>幹事名：  <%= leader.name %></p>
  <p>email：　 <%= group.email %></p>
  <p>group_id：<%= group.id %></p>
<% end %>