<header class="topbar1">
  <div class="back"></div>
  <input type="search" class="search">
  <button  onclick="introJs().start()" class="help">
    <%= image_pack_tag("help.png", class: "img-ball") %>
  </button>
</header>
