<h3>adminページ</h3>
<%= current_user.name %><br>
<%= link_to 'sidekiq管理画面', sidekiq_web_path %><br>
<a href='https://papertrailapp.com/dashboard'>Papertrail Dashboard</a><br>
<a href='https://sentry.io/organizations/circle-tree/projects/'>Sentry Dashboard</a><br>
