<div class="login-footer">
    <div class="pull-left">
        &copy; 2020 Circle-tree
    </div>
    <div class="pull-right">
        <a href="#">About</a> |
        <a href="#">Privacy</a> |
        <a href="#">Contact Us</a>
    </div>
</div>
