.back{
    position:absolute;
    top: 25.58%;
left: 4.758%;
width: 95.24%;
height: 300.8%;
background: #9DC3C9 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.23;
}

.box1{
    position: absolute;
    top: 12.86%;
left: 6.076%;
width: 44.73%;
height: 55.97%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}

.box2{
    position: absolute;
    top: 12.86%;
left: 52.49%;
width: 44.73%;
height: 55.97%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box3{
    position: absolute;
    top: 72.6%;
left: 6.076%;
width: 44.73%;
height: 55.97%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box4{
    position: absolute;
    top: 72.6%;
left: 52.49%;
width: 44.73%;
height: 55.97%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box5{
    position: absolute;
    top: 137.3%;
left: 9.956%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box6{
    position: absolute;
    top: 137.3%;
left: 31.77%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box7{
    position: absolute;
    top: 137.3%;
left: 53.59%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box8{
    position: absolute;
    top: 137.3%;
left: 75.4%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box9{
    position: absolute;
    top: 176.1%;
left: 9.956%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box10{
    position: absolute;
    top: 176.1%;
left: 31.77%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box11{
    position: absolute;
    top: 176.1%;
left: 53.59%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}
.box12{
    position: absolute;
    top: 176.1%;
left: 75.4%;
width: 19.03%;
height: 33.9%;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #2C28281C;
border-radius: 10px;
opacity: 1;
}