@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

html,
body {
  height: 100%;
}
button{
    cursor: pointer; /* マウスカーソルを「ポインター」にする */
}
select{
    cursor: pointer; /* マウスカーソルを「ポインター」にする */

}
button:focus {
	outline:0;
}

input:focus{
    outline: 0;
}
.img-ball{
    position: absolute;
    top: 50%;                    /* 親要素の半分下にずらす */
    left: 50%;                   /* 親要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
    padding: 20px;               /* 余白指定 */
}

.img-logo{
    position: absolute;
    top: 2%;
    left: 0%;
   width: 100%;

}

.sidebar1{
    position:fixed;
    top: 0%;
left: 0%;
width: 4.758%;
height: 99.74%;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.iconbox1{
    position:fixed;
    top: 11.04%;
left: 0.366%;
width: 4.026%;
height: 7.143%;
background: rgb(96, 160, 224) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox1:hover{
    background: rgb(47, 141, 235) 0% 0% no-repeat padding-box;
}

.img1{
    position:fixed;
    top: 12.04%;
left: 0.966%;
width: 2.5%;
}


.iconbox2{
    position:fixed;
    top: 23.18%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(81, 202, 250) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox2:hover{
    background: rgb(47, 141, 235) 0% 0% no-repeat padding-box;
}

.img2{
    position:fixed;
    top: 24.48%;
left: 1.1%;
width: 2.5%;
}

.iconbox3{
    position:fixed;
    top: 35.32%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(240, 156, 47) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}

.iconbox3:hover{
    background: rgb(252, 122, 0) 0% 0% no-repeat padding-box;
}
.img3{
    position:fixed;
    top: 36.48%;
left: 1.1%;
width: 2.5%;

}

.iconbox4{
    position:fixed;
    top: 47.47%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(252, 71, 71) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox4:hover{
    background: rgb(255, 9, 1) 0% 0% no-repeat padding-box;
}
.img4{
    position:fixed;
    top: 48.58%;
left: 1.166%;
width: 2.5%;
}
.iconbox5{
    position:fixed;
    top: 59.81%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(236, 91, 212) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox5:hover{
    background: rgb(243, 9, 231) 0% 0% no-repeat padding-box;
}
.img5{
    position:fixed;
    top: 61.18%;
left: 1.066%;
width: 2.5%;

}
.iconbox6{
    position:fixed;
    top: 72.25%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(109, 240, 48) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox6:hover{
    background: rgb(1, 253, 77) 0% 0% no-repeat padding-box;
}

.img6{
    position:fixed;
    top: 74.18%;
left: 1.066%;
width: 2.5%;

}
.iconbox7{
    position:fixed;
    top: 84.90%;
left: 0.3660%;
width: 4.026%;
height: 7.143%;
background: rgb(194, 10, 240) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.iconbox7:hover{
    background: rgb(140, 0, 255) 0% 0% no-repeat padding-box;
}
.img7{
    position:fixed;
    top: 86.18%;
left: 1.166%;
width: 2.5%;
}

.icon1-humberger{
    position:fixed;
    top: 4.026%;
left: 1.83%;
width: 1.171%;
height: 0px;
border: 1px solid #172B4D;
opacity: 1;
}

.icon2-humberger{
    position:fixed;
    top: 4.805%;
left: 1.83%;
width: 1.171%;
height: 0px;
border: 1px solid #172B4D;
opacity: 1;
}
.icon3-humberger{
    position:fixed;
    top: 5.584%;
left: 1.83%;
width: 1.171%;
height: 0px;
border: 1px solid #172B4D;
opacity: 1;
}

.cp_tooltip {
	display: inline-block;
	cursor: pointer;
}
.cp_tooltip .cp_tooltiptext {
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
	visibility: hidden;
	/*width: auto;*/
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	background-color: #000000;
}
.cp_tooltip .cp_tooltiptext::after {
	position: absolute;
	top: 40%;
	right: 100%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
	border-right-color: #000000;
}
.cp_tooltip:hover .cp_tooltiptext {
	visibility: visible;
	opacity: 1;
}

.up_tooltip {
	display: inline-block;
	cursor: pointer;
}

.up_tooltip .up_tooltiptext {
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
	visibility: hidden;
	/*width: auto;*/
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	background-color: #000000;
}
.up_tooltip .up_tooltiptext::after {
	position: absolute;
	top: 40%;
	left: 104%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
	border-left-color: #000000;
}
.up_tooltip:hover .up_tooltiptext {
	visibility: visible;
	opacity: 1;
}

.ul1{
    list-style: none;
}

.topbar1{
    position:absolute;
    top: 0%;
left: 4.758%;
width: 95.39%;
height: 25.58%;
background: transparent linear-gradient(180deg, #83B4CE 0%, #53EEEE 100%) 0% 0% no-repeat padding-box;
opacity: 1;
}

.help{
    position: absolute;
    top: 15%;
    left: 22%;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8898AA80;
opacity: 0.8;
line-height: 120px;
  border-radius: 50%;
}
.help:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px rgba(232, 177, 243, 0.18);
    border: 1px solid rgb(208, 122, 235);
}


.name{
    position:absolute;
    top: 4.675%;
left: 92.83%;
width: 4.246%;
height: 2.208%;
text-align: left;
font: Book;
font-size: 0.8098vmax;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.search{
    position:absolute;
    top: 10.597%;
left: 2.515%;
width: 18.08%;
height: 26.494%;
background: #F7FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #1717172D;
border-radius: 25px;
opacity: 0.7;

}

.search:focus{
    opacity: 1;
}

#sidebar {
    font-size:  2.098vmax;
    top: 0%;
    left: 0%;
    padding:  0;
    width: 4.758%;
    height: 100%;
    position: fixed;
    color: #033560;
    background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
}
#global-nav .sub-menu-nav {
    position: fixed;
    background: #d2e2f0;

    top: -5%;
    padding-top: 0;
    left:4.758%;
    width: 0;
    height: 330%;
    overflow: hidden;
    transition: width .2s ease-out;
    opacity: 1;
    z-index: 0;
}
#global-nav .sub-menu:hover .sub-menu-nav {
    width: 20%;
}

.text-side1{
    color: #fa08c5;
    font: Book;
    font-size: 0.8098vmax;
}







#form4{
    position:relative;
    max-width:300px;
    margin-bottom:20px;
}

#sbox4{
    height:50px;
    padding:0 10px;
    position:absolute;
    left:0;
    top:0;
    border-radius:25px;
    outline:0;
    background:#eee;
}

#sbtn4{
    height:50px;
    width:50px;
    position:absolute;
    left:250px;
    top:0;
    background:#7fbfff;
    color:#fff;
    border:none;
    border-radius:0 25px 25px 0;
}

#sbtn4 .fa-search{
    font-size:20px;
    position:absolute;
    top:30%;
    left:30%;
}

#sbtn4:hover{
    color:#888;
}
