body {
  background-coor: #33325D;
}

.name{
        position:absolute;
        top: 4.675%;
    left: 92.83%;
    width: 4.246%;
    height: 2.208%;
    text-align: left;
    font: Book;
    font-size: 0.8098vmax;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    }

ul {
  display: block;
  padding: 0;
  z-index: 0;
}

.ul2{
    top: 4.675%;
    left: 92.83%;
    width: 4.246%;
    height: 2.208%;
    position: fixed;
}

.ul3{
    top: 0.675%;
    left: 10.83%;
    width: 4.246%;
    height: 2.208%;
    position: absolute;
}

.li3{
        width: 150px;
        height: 150px;
        font: Book;
    font-size: 1.8098vmax;
}

li {
  display: block;
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: opacity 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, opacity 0.12s ease-out, color 0.12s ease-out;
  transition: transform 0.12s ease-out, opacity 0.12s ease-out, color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
  color: white;
  font-family: 'fontawesome';
  color: transparent;
}

/*
li:after{
  content: "";
  display: block;
  bottom: 100%;
  left: 50%;
  height: ($offsetAmount*100%)-100;
  margin-left: -1px;
  position: absolute;
  width: 4px;
  background-color: inherit;
  opacity: 0;
  transition: opacity $transitionTime ease-out;
}
*/
li:not(.introjs-bullets)first-child:after {
  display: none;
}

li:nth-child(1) {
  background-color: #004DB3;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
  z-index: 3;
  -webkit-transition-duration: 0.12s;
          transition-duration: 0.12s;
}

li:nth-child(2) {
  background-color: #26B85A;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
  z-index: 2;
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

li:nth-child(3) {
  background-color: #FFCB00;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  z-index: 1;
  -webkit-transition-duration: 0.36s;
          transition-duration: 0.36s;
}

li:nth-child(4) {
  background-color: #D88E8E;
  -webkit-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
  z-index: 0;
  -webkit-transition-duration: 0.48s;
          transition-duration: 0.48s;
}

li:nth-child(5) {
        background-color: rgb(222, 115, 243);
        -webkit-transform: translate(0%, 0);
                transform: translate(0%, 0);
        z-index: 0;
        -webkit-transition-duration: 0.48s;
                transition-duration: 0.48s;
      }

ul:hover {
  height: 308px;
}

ul:hover li {
  color: white;
}

ul:hover li:nth-child(1) {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

ul:hover li:nth-child(1):hover {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transform: translate(0, 0%) scale(1.15, 1.15);
          transform: translate(0, 0%) scale(1.15, 1.15);
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

ul:hover li:nth-child(1):after {
  opacity: 1;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

ul:hover li:nth-child(2) {
  -webkit-transform: translate(0, 110%);
          transform: translate(0, 110%);
}

ul:hover li:nth-child(2):hover {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transform: translate(0, 110%) scale(1.15, 1.15);
          transform: translate(0, 110%) scale(1.15, 1.15);
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

ul:hover li:nth-child(2):after {
  opacity: 1;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

ul:hover li:nth-child(3) {
  -webkit-transform: translate(0, 220%);
          transform: translate(0, 220%);
}

ul:hover li:nth-child(3):hover {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transform: translate(0, 220%) scale(1.15, 1.15);
          transform: translate(0, 220%) scale(1.15, 1.15);
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

ul:hover li:nth-child(3):after {
  opacity: 1;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

ul:hover li:nth-child(4) {
  -webkit-transform: translate(0, 330%);
          transform: translate(0, 330%);
}

ul:hover li:nth-child(4):hover {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transform: translate(0, 330%) scale(1.15, 1.15);
          transform: translate(0, 330%) scale(1.15, 1.15);
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

ul:hover li:nth-child(4):after {
  opacity: 1;
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

ul:hover li:nth-child(5) {
        -webkit-transform: translate(0, 440%);
                transform: translate(0, 440%);
}

ul:hover li:nth-child(5):hover {
        opacity: 1;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
                transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        -webkit-transform: translate(0, 440%) scale(1.15, 1.15);
                transform: translate(0, 440%) scale(1.15, 1.15);
        -webkit-transition-duration: 0.24s;
                transition-duration: 0.24s;
}

ul:hover li:nth-child(5):after {
        opacity: 1;
        -webkit-transition-delay: 0.40s;
                transition-delay: 0.40s;
}
/*# sourceMappingURL=menu.css.map */
